
<div class="row app-courses-list" *ngFor="let courseCard of courseCards">
    <div class="col-10">
        <h1>{{courseCard.title}}</h1>
        <div>{{courseCard.description}}</div>
    </div>
    <div class="col-2">
        <h6>Authors: <span>{{courseCard.authors}}</span></h6>
        <h6>Duration: <span>{{courseCard.duration | duration }}</span></h6>
        <h6>Created: <span>{{courseCard.creationDate | creationDate}}</span></h6>
        <app-button class="btn-show-courses" [buttonText]="'Show Courses'"></app-button>
        <ng-container *ngIf="!courseCard.isEditable; else courseCardEditable"></ng-container>
        <ng-template #courseCardEditable>
            <button class="btn-edit-courses" (click)="onEdit(courseCard.id)">
                <fa-icon [icon]="faPen"></fa-icon>
            </button>
            <button class="btn-delete-courses" (click)="onDelete(courseCard.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </ng-template>
    </div>
</div>