<div class="border border-primary app-login">
    <h2 class="text-center">Login</h2>
    <form name="form" #ngform="ngForm" (ngSubmit)="login()">
        <div class="text-center">
            <p>
                <label for="Email">Email</label>
            </p>
            <input type="text" name="email" [(ngModel)]="email" #emailNgModel="ngModel" required appEmailValidator
            [class.is-invalid]="ngform.submitted && ngform.touched && emailNgModel.errors?.['emailValidator']"/>
            <span class="invalid-feedback" *ngIf="ngform.submitted && ngform.touched && emailNgModel.errors?.['emailValidator']">Email is required</span>
            <p>
                <label for="password">Password:</label>
            </p>
            <input type="password" id="password" name="password" [(ngModel)]="password" #passwordNgModel="ngModel" required appTogglePassword  
            required [ngClass]="{ 'is-invalid': ngform.submitted && ngform.touched && passwordNgModel.errors }"/>
            <span class="invalid-feedback" *ngIf="ngform.submitted && ngform.touched && passwordNgModel.errors">Password is required</span>
            <div>
                <app-button type="submit" [buttonText]="'Login'"></app-button>
            </div>
            <p>
                If you don't have an account you can Registration
            </p>
            <a href="">Registration</a>
        </div>
    </form>
</div>