.app-courses-header {
    display: flex;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    border: 3px solid #d8d8d8;
    border-color: red;
    box-shadow: 0px 1px 2px #DDDDE3,
          0px 2px 4px #DDDDE3;
}
.name {
    margin-right: 20px;
}

