<!-- for testing modal window -->
<!-- <button onclick="document.getElementById('id').style.display='block'">Open Modal</button>
 -->
<div id="id" class="modal">
    <!-- for testing modal window -->
  <span onclick="document.getElementById('id').style.display='none'" class="close" title="Close Modal"><fa-icon [icon]="faXmark"></fa-icon></span>
  <form class="modal-content">
    <div class="container">
      <h1>{{modalTitle}}</h1>
      <p>{{modalMessage}}</p>

      <div class="clearfix">
        <app-button type="button" [buttonText]="okButtonText" (click)="onOkButtonClick()"></app-button>
        <app-button type="button" [buttonText]="cancelButtonText"></app-button>
      </div>
    </div>
  </form>
</div>