<div class="app-registration">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
        <p class="h4 mb-4">Registration</p>
        <div class="form-group">
            <label for="name">Name</label>
            <div class="form-row mb-4">
                <div class="col">
                    <input type="text" formControlName="name" id="formName" class="form-control" placeholder="name"
                        required [ngClass]="{ 'is-invalid': submitted && name?.errors }" />
                    <div *ngIf="submitted && name?.errors" class="invalid-feedback">
                        <div *ngIf="name?.errors?.['required']">
                            Name is required
                        </div>
                        <div *ngIf="name?.errors?.['minLength']">
                            Name must be at least 6 characters long
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" id="formEmail" class="form-control mb-4" placeholder="E-mail"
                [ngClass]="{ 'is-invalid': submitted && email?.errors }" />
            <div *ngIf="submitted && email?.errors" class="invalid-feedback">
                <div *ngIf="email?.errors?.['required']">
                    Email is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control mb-4" id="formPassword" placeholder="password"
                formControlName="password" [ngClass]="{ 'is-invalid': submitted && password?.errors }" />
            <div *ngIf="submitted && password?.errors" class="invalid-feedback">
                <div *ngIf="password?.errors?.['required']">
                    Password is required
                </div>
            </div>
        </div>


        <app-button type="submit" buttonText="Registration"></app-button>
        <p>
            If you have an account you can <a href="">Log In</a>
        </p>
    </form>
</div>